@include adaptive(md){
    .slogan{
        &_header{
            margin-top: 120px;
            font-size: 180px;
        }
    }
}

@include adaptive(sm){
    .slogan{
        &_header{
            margin-top: 100px;
            font-size: 160px;
        }
    }
}

@include adaptive(xs){
    .slogan{
        &_header{
            margin-top: 80px;
            font-size: 130px;
            text-align: center;
        }
    }
}

