@include adaptive(xl){
    .body{
        width: 100%;
    }
}
@include adaptive(lg){
    .body{
        width: 100%;
    }
}
@include adaptive(md){
    .body{
        width: 100%;
    }
}
@include adaptive(sm){
    .body{
        width: 100%;
    }
}
@include adaptive(xs){
    .body{
        width: 100%;
    }
}